
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#gameItem {
  background-color: teal;
  width: 50px;
  height: 50px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#paddleleft {
  left: 0px;
  top: 100px;
}

#paddleright {
  right: 0px;
  top: 100px;
}
.paddle {
  position: absolute;
  border-radius: 0;
  background-color: white;
  width: 15px;
  height: 100px;
  border: 1px solid black;
}

#score1 {
  color: white;
  left: 300px;
}

#score2 {
  color: white;
  right: 300px;
}

#ball {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 220px;
  left: 220px;
}
.score {
  color: white;
  font-family: fantasy;
  font-size: 32px;
  position: absolute;
}

#id {
  /* appearance */
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  
  /* positioning */
  position: absolute;
  top: 100px;
  left: 100px;
}

#wall {
  
}